.profileMain {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.headerProfile {
    width: 1400px;
    height: 220px;
    background-color: white;
    position: relative;
    margin: 30px 0px 0px;
}

.blogAva {
    height: 100%;
    background-image: url('./img/fon.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.buttonProfile {
    float: right;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    border: 0;
    outline: none;
    color: white;
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
}

.textH3 {
    margin: 0px;
    padding-right: 10px;
    font-size: 18px;
}

.ava {
    position: absolute;
    top: -80px;
    left: 100px;
    width: 150px;
}

.status {
    display: block;
    font-size: 18px;
    font-weight: 400;
}

.imgDisplay {
    display: flex;
    margin-top: 10px;
}


.main {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px auto;
    width: 1400px;
}

.main1 {
    position: sticky;
    top: 0px;
    width: 350px;
    height: 100%;
}

.blogProfileUser {
    background-color: white;
    padding: 10px;
}

.mainFriends {
    position: relative;
    margin-top: 30px;
    text-align: center;
    background-color: white;
    padding: 10px;
}

.friendsName {
    padding: 10px 0px 0px 10px;
    color: white;
    float: left;
}

.main2 {
    width: 590px;
}

.user {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.userFio {
    display: block;
    font-size: 20px;
    font-weight: 700;
}

.h3Foto {
    margin: 0px;
}

.fotografi {
    width: 100%;
}

.main3 {
    text-align: center;
    width: 350px;
    height: 100%;
    padding: 10px;
    background-color: white;
}

hr {
    height: 2px;
    border: 0;
    background-color: #7DA1FD;
}

.friendsInput,
.kolFriends {
    display: block;
    margin-top: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.kolFriends {
    margin-top: 0px;
    font-size: 18px;
    font-weight: 400;
}

.friends {
    background-color: #1E1E1E;
    padding: 5px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
}


.test {
    float: left;
    width: 40px;
    border-radius: 5px;
}

.ellipse {
    position: absolute;
    top: 20px;
    right: 15px;
}

.posts {
    margin-bottom: 30px;
}