.music {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    background-color: #7da1fd;
    transition: 0.7s;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.music:hover {
    background-color: #1e1e1e;
    transition: 0.7s;
}

.nameMusic {
    display: flex;
    align-items: center;
}

.marginBlock {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.h3 {
    margin: 0px;
}

.positionTime {
    margin-left: auto;
}

.h4 {
    margin: 7px 0px 0px;
    text-align: right;
}

audio::-webkit-media-controls-panel {
    background-color: #333;
}