.History{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blogHistory{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    background-color: white;
    width: 100%;
}
.whiteblog{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    padding: 10px;
    width: 100%;
}
.text{
    text-align: center;
    color: #7DA1FD;
    padding-top: 5px;
    padding-left: 10px;
}