.login {
    background-color: #7DA1FD;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.loginHistory {
    display: flex;
    flex-direction: row;
    max-width: 1500px;
    min-width: 1100px;
    min-height: 500px;
    max-height: 700px;
}

.logo {
    width: 120px;
}

.blogAuth {
    width: 100%;
    height: 100%;
}

.blogAuth {
    background-color: white;
    width: 200px;
    height: 230px;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
}

.imgI {
    width: 100%;
}

.formLogin {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.test {
    min-width: 700px;
}

text {
    color: black;
    font-size: 25px;
}

h1,
h2 {
    font-size: 35px;
    margin-top: 7px;
    margin-bottom: 9px;
}

h2 {
    margin-bottom: 15px;
}

p {
    text-decoration: underline;
    font-size: 25px;
    margin-top: 1px;
    width: 100%;
}

input {
    width: 295px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px black;
    outline: none;
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 20px;
}
.buttonRegister{
    width: 260px;
    background-color: white;
    border: 0;
    outline: none;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    transition: 0.5s;   
}
.buttonRegister:active{
    transition: 0.5s;
    background-color: rgb(223, 223, 223);
}
