.mainPosts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 30px;
    cursor: pointer;
}

.posts {
    display: flex;
    max-width: 1000px;
    min-width: 100%;
    background-color: white;
    flex-direction: column;
    padding: 10px;
    position: relative;
}

.postsHeader {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    width: 100%;
}


.postsMain {
    width: 100%;
    padding-bottom: 13px;
}

.postsFoto {
    width: 100%;
    height: 100%;
}

.h2 {
    margin: 0px;
    font-size: 25px;
}

.name {
    margin-left: 10px;
    width: 100%;
}

.buttonFotter {
    display: flex;
    align-items: stretch;
    width: 100%;
}

.position {
    display: flex;
}

.textButton {
    font-size: 18px;
}

.imgCLick {
    margin-top: 4px;
}

.imgCLick2 {
    margin-top: 2px;
    margin-right: 2px;
}

.text {
    text-decoration: underline;
}

.buttonDelete {
    margin-left: 10px;
}

.removeDelete {
    width: 320px;
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: space-between;
}

.positionViewsCount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.position{
    margin-left: auto;
}
.ava{
    width: 50px;
    height: 50px;
}
.textPosts{
    text-align: justify;
}
.marginBox{
    margin-right: 15px;
}