.mainPosts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 30px;
    cursor: pointer;
}

.posts {
    display: flex;
    max-width: 1000px;
    min-width: 100%;
    background-color: white;
    flex-direction: column;
    padding: 10px;
    position: relative;
}

.clickPosts {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.postsHeader {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tags {
    display: inline;
    text-decoration: underline;
    color: #727272;
    text-underline-offset: 4px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.displayTags {
    display: flex;
}

.postsMain {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postsFoto {

    max-width: 100%;
    max-height: 100%;
}


.h2 {
    margin: 0px;
    font-size: 25px;
}

.name {
    margin-left: 10px;
    width: 100%;
}

.buttonFotter {
    display: flex;
    align-items: stretch;
    width: 100%;
    margin-top: 10px;
}

.position {
    display: flex;
}

.textButton {
    font-size: 18px;
}

.imgCLick {
    margin-top: 4px;
}

.imgCLick2 {
    margin-top: 2px;
    margin-right: 2px;
}

.edit {
    margin-bottom: 10px;
}

.text {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.buttonDelete {
    margin-left: 10px;
}

.removeDelete {
    position: absolute;
    right: 10px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
}

.positionViewsCount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.position {
    margin-left: auto;
}

.ava {
    width: 50px;
    height: 50px;
}

.textPosts {
    display: -webkit-box;
    text-align: justify;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 10px;
}

.marginBox {
    margin-right: 15px;
}