.main {
    display: flex;
    justify-content: center;
}

.mainBlog1 {
    width: 700px;
    margin-right: 30px;
}

.mainBlog2 {
    width: 300px;
    border-radius: 20px;
    height: 100%;
}

.searchFriends {
    padding: 10px 15px;
    margin-top: 30px;
    background-color: white;
    border-radius: 20px;
}

.button,
.button2,
.button3 {
    padding: 5px 10px 5px 10px;
    font-size: 18px;
    background-color: #1e1e1e;
    border-radius: 5px;
    color: white;
    margin-right: 20px;
    outline: 0;
    border: 0;

}

.ellips {
    float: right;
    margin-top: 5px;
    margin-left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #7DA1FD;
}

.searchBlog {
    margin-top: 10px;
}

.search {
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    width: 100%;
    outline: 0;
    border: 0;
    background-color: #1e1e1e;
    color: white;
    font-size: 18px;
}

.search::placeholder {
    color: white;
}

.search[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    background-color: white;
    color: white;
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
}

.cardBlog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 200px;
    margin-top: 30px;
    background-color: white;
    border-radius: 20px;
    position: relative;
}

.cardHeader {
    height: 100px;
    border-radius: 20px 20px 0px 0px;
    background: linear-gradient(100deg, rgba(49, 163, 207, 1), 35%, rgba(249, 198, 246, 1))
}

.ava {
    position: absolute;
    width: 70px;
    top: 65px;
    left: 65px;
}

.cardFooter {
    padding: 10px;
}

.name {
    margin-top: 30px;
    margin-bottom: 10px;
}

.button2 {
    display: block;
    margin: 0px auto 10px;
}

.parametersBlog {
    padding: 10px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    height: 100%
}

.button3 {
    display: flex;
    align-items: center;
    margin: 0px auto;
    width: 100%;
}

.test {
    width: 100%;
}

.text {
    display: block;
    width: 100%;
}

.blogDown, .blogUp {
    width: 80px;
    float: left;
    background-color: #1e1e1e;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.blogUp{
    float: right;
}