.main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.positionButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.musicMain {
    width: 1370px;
    padding: 5px 15px;
    background-color: white;
    margin: 30px 0px;

}
.search {
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    width: 100%;
    outline: 0;
    border: 0;
    color: rgb(255, 255, 255);
    background-color: #1e1e1e;
    font-size: 18px;
}

.search::placeholder {
    color: rgb(255, 255, 255);
}

.search[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    background-color: rgb(255, 255, 255);
    color: rgb(253, 253, 253);
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
}
.h3{
    margin-bottom: 10px;
}
.mix{
    margin: 0 10px;
    font-size: 18px;
    transition: 0.7s;
    z-index: 1;
}

.flexBlog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.displayBlock {
    display: flex;
    align-items: center;
    padding-right: 5px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.displayBlock > button:hover {
background-color: #1e1e1e;
}
.displayBlock::before {
    content: '';
    position: absolute;
    top: 0;
    left: 35px;
    width: 0%;
    height: 100%;
    color: white;
    background-color: #1e1e1e; 
    transition: 0.7s; /* Плавная анимация изменения ширины */
}

.displayBlock:hover::before {
    color: white;
    width: 100%; /* При наведении курсора полностью раскрываем градиент вправо */
}

.displayBlock:hover {
    transition: 0.1s;
    color:  white; /* Изменяем цвет текста на черный при наведении */
}

.musicMainBlog {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;
}

.blogDown {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1e1e1e;
    color: white;
    padding: 5px 10px;
    margin-left: 160px;
    border-radius: 5px;
}


.mainBlock{
    display: flex;
justify-content: space-between;
}
.main1{
    width: 100%;
    padding-right: 10px;
}
.main2{
    padding-left: 10px;
    width: 100%;
}