.header {
    display: flex;
    background-color: #7DA1FD;
    /* width: 100%; */
    justify-content: center;
}

.headerMain {
    /* width: 1400px; */
    display: flex;
    justify-content: space-between;
}

/* Общие стили для всех размеров */
.foto {
    min-width: 150px;
    display: flex;
    align-items: center;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profile {
    display: flex;
    flex-direction: row;
}

.tegA {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 0px 10px;
    transition: 0.7s;
}

.tegA:hover {
    color: #1e1e1e;
    transition: 0.7s;
    background-color: white;
}

.link {
    height: 100%;
    width: 80px;
}

.blockSearch {
    position: relative;
    height: 83px;
    width: 500px;
    padding-right: 15px;
    background-color: #7DA1FD;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Медиазапросы для мобильных устройств */
@media (max-width: 768px) {
    .headerMain {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .foto {
        min-width: 100px;
        margin-bottom: 10px;
    }

    .blockSearch {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .link {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .tegA {
        font-size: 16px;
        padding: 10px 0;
    }
}