.mainPosts {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.posts {
  display: flex;
  width: 1000px;
  background-color: white;
  flex-direction: column;
  padding: 20px;
}

.postsHeader {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.foto {
  width: 90%;
}

.postsMain {
  margin: 0px auto;
}

.postsFoto {
  width: 100%;
}

.orienter {
  display: -webkit-box;
  text-align: justify;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.h2 {
  font-size: 25px;
  margin-bottom: 4px;
}

.buttonFotter {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.buttonClick {
  width: 200px;
  height: 30px;
  margin: 0px 10px;
  border-radius: 20px;
  border: 0;
  outline: none;
  background-color: black;
  color: white;
}

.textButton {
  margin-left: 10px;
  font-size: 18px;
}

.text {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.marginBox {
  margin-right: 15px;
}

.position {
  margin-left: auto;
}

.positionViewsCount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}