.blokImg {
    display: flex;
    z-index: 2;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0);
    outline: none;
    border: 0;
    font-size: 18px;
    cursor: pointer;
    padding: 0px;
    transition: 0.7s;
    height: 100%;
}

.blokImg:hover {
    transition: 0.7s;
    background-color: #1e1e1e;
}

.blockImgActive {
    transition: 0.7s;
    display: flex;
    z-index: 2;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #1e1e1e;
    outline: none;
    border: 0;
    font-size: 18px;
    cursor: pointer;
    padding: 0px;
    transition: 0.7s;
    height: 100%;
}

.navBarProfile {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0);
    outline: none;
    border: 0;
    font-size: 18px;
    cursor: pointer;
    padding: 0px;
    transition: 0.7s;
    height: 100%;
    width: 100%;
}

.navBarProfile:hover {
    filter: invert(1);
}

.profileButton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    background-color: #7da1fd;
    border-radius: 5px;
    color: white;
    outline: 0;
    border: 0;
    transition: 0.7s;
}

.profileButton:hover {
    background-color: #1e1e1e;
    color: white;
    transition: 0.7s;
}

/* //////////////////////////////// 
Решил не убирать комментарии т.к. не до конца понимаю как работает анимации кнопки  
*/
.buttonAssessment {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 0;
    outline: none;
    background-color: #7da1fd;
    color: white;
}

/* Псевдоэлементы для анимации покраски */
.buttonAssessment::before,
.buttonAssessment::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    width: 50%;
    /* Изначально половина ширины кнопки */
    height: 50%;
    /* Изначально половина высоты кнопки */
    background-color: black;
    transition: width 0.3s ease, height 0.3s ease, transform 0.3s ease;
    /* Анимация изменения ширины, высоты и масштаба */
    transform: translate(-50%, -50%) scale(0);
    /* Сдвигаем в центр кнопки и изначально устанавливаем масштаб 0 */
}

/* При нажатии кнопки */
.buttonAssessment:hover::before,
.buttonAssessment:hover::after {
    width: 200%;
    /* Увеличиваем ширину */
    height: 200%;
    /* Увеличиваем высоту */
    transform: translate(-50%, -50%) scale(1);
    /* Устанавливаем масштаб 1 */
}

.buttonAssessment:active::before,
.buttonAssessment:active::after {
    background-color: rgb(117, 116, 116);
    transition: 0.1s;
}

/* //////////////////////////////// */
.buttonAssessment>img {
    width: 26px;
    height: 24px;
    z-index: 1;
}

.buttonSettings {
    background-color: white;
    border: 0px;
    font-size: 24px;
    width: 100%;
    padding: 20px;
    border-bottom: 2px solid black;
    transition: 0.5s;
}

.buttonSettings:hover {
    transition: 0.5s;
    color: #7da1fd;
    border-bottom: 2px solid #7da1fd;
}

.buttonSettingsActive {
    background-color: #7da1fd;
    border: 0px;
    font-size: 24px;
    width: 100%;
    padding: 20px;
    border-bottom: 2px solid black;
    color: white;
    transition: 0.5s;
}

.city {
    margin-left: auto;
}

.centerImage {
    z-index: 1;
}

.ellips {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #ffffff;
}

.input {
    display: block;
    margin: 0px auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sizeA {
    width: 180px;
    height: 30px;
}

.sizeM {
    width: 115px;
    height: 30px;
}

.sizeF {
    width: 100%;
}

.positionSpan {
    margin: 0px;
}

.sizeB {
    width: 40px;
    height: 40px;
}