.blockMessage {
    width: 1000px;
    height: 610px;
}
.messageAll {
    width: 100%;
    padding: 0px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.messageAll::-webkit-scrollbar {
    width: 5px;
}

.messageAll::-webkit-scrollbar-thumb {
    background-color: #7da1fd;
}

.messageAll::-webkit-scrollbar-track {
    background-color: #f8f8f8;
}

.positionBlock,
.positionBlockMe {
    display: flex;
    padding: 10px;
    cursor: pointer;
}
.positionBlockMe{
    flex-direction: row-reverse;
}
.messageBlock {
    margin: 0px 10px;
    max-width: 700px;
    background-color: #7DA1FD;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
}