.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84vh;
    padding: 30px 0;
    box-sizing: border-box;
    /* Убедитесь, что padding входит в высоту */
}

.mainMessage {
    width: 100%;
    max-width: 1400px;
    min-height: 100%;
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    background-color: white;
    box-sizing: border-box;
}

.userFriends {
    width: 100%;
    max-width: 400px;
    height: auto;
    background-color: white;
    border-right: 2px solid #7DA1FD;
    border-bottom: 2px solid #7DA1FD;
    border-left: 2px solid #7DA1FD;
    overflow: auto;
    box-sizing: border-box;
}

.userFriends::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.messageFriends {
    flex-grow: 1;
    height: auto;
    position: relative;
    border-top: 2px solid #7DA1FD;
    border-right: 2px solid #7DA1FD;
    border-bottom: 2px solid #7DA1FD;
    box-sizing: border-box;
}

.positionBlockMe,
.positionBlock {
    display: flex;
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;
}

.positionBlockMessage {
    display: flex;
    padding: 10px;
    flex-direction: column;
    cursor: pointer;
    box-sizing: border-box;
}

.positionBlockUser {
    display: flex;
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid #7DA1FD;
    box-sizing: border-box;
}

.positionBlockUser img:nth-child(1),
.positionBlock img:nth-child(1),
.positionBlockMe img:nth-child(1) {
    width: 50px;
}

.positionBlockName,
.positionBlockStatus {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nameFriends {
    margin-left: 5px;
    font-size: 18px;
    font-weight: 500;
}

.statusFriends {
    margin-left: 5px;
    font-weight: 400;
}

.ellips {
    margin-top: 3px;
    margin-left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #7DA1FD;
}

.friends {
    width: 100%;
    height: 78px;
    border-bottom: 2px solid #7DA1FD;
    box-sizing: border-box;
}

.blockText {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-color: #7DA1FD;
    box-sizing: border-box;
}

.inputText {
    border: 0;
    min-height: 35px;
    outline: none;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 900px;
    margin: 10px;
    box-sizing: border-box;
}

.click {
    height: 45px;
    width: 45px;
    border: 0;
    outline: none;
    background-color: white;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
}

.blockSearch {
    position: relative;
    height: 82px;
    width: 100%;
    max-width: 370px;
    padding: 0 15px;
    background-color: #7DA1FD;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.border {
    color: white;
    padding: 15px;
    background-color: #7DA1FD;
}

.blockMessage,
.messageAll {
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-sizing: border-box;
}

.messageAll::-webkit-scrollbar {
    width: 5px;
}

.messageAll::-webkit-scrollbar-thumb {
    background-color: #7da1fd;
}

.messageAll::-webkit-scrollbar-track {
    background-color: #f8f8f8;
}

.messageBlock {
    margin: 0 10px;
    max-width: 700px;
    background-color: #7DA1FD;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
    box-sizing: border-box;
}

.img {
    width: 50px;
    height: 50px;
}

.invitation {
    display: block;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    background-color: white;
    font-weight: 400;
}