.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84vh;
    padding: 30px 0px;
}

.mainMessage {
    width: 1400px;
    min-height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.hr {
    margin: 0px;
}

.time {
    margin-top: 5px;
    font-size: 18px;
}

.userFriends {
    width: 400px;
    height: auto;
    border-right: 2px solid #7DA1FD;
    overflow: auto;
}

.userFriends::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.messageFriends {
    width: 1000px;
    height: auto;
    position: relative;
}

.positionBlock,
.positionBlockMe {
    display: flex;
    padding: 10px;
}

.positionBlockMe {
    display: flex;
    flex-direction: row-reverse;
}

.displayBlock {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.positionBlock img:nth-child(1) {
    width: 50px;
}

.positionBlockMe img:nth-child(1) {
    width: 50px;
}

.positionBlockName {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nameFriends {
    margin-left: 5px;
    font-size: 18px;
    font-weight: 500;
}

.positionBlockStatus {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.statusFriends {
    margin-left: 5px;
    font-weight: 400;
}

.ellips {
    margin-top: 3px;
    margin-left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #7DA1FD;
}

.friends {
    width: 100%;
    height: 80px;
    border-bottom: 2px solid #7DA1FD;
}

.hr {
    margin: 0px;
}

.messageBlock {
    margin: 0px 10px;
    max-width: 700px;
    background-color: #7DA1FD;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: justify;;
}

.blockText {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;  
    background-color: #7DA1FD;
}

.inputText {
    border: 0;
    height: 35px;
    outline: none;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    width: 900px;
    margin: 10px;
}
.click{
    height: 45px;
    width: 45px;
    border: 0;
    outline: none;
    background-color: white;
    border-radius: 50%;
    padding: 0px;
}
  .messageAll {
    position: absolute; /* Устанавливаем абсолютное позиционирование */
    bottom: 53px; /* Прикрепляем блок к верху блока .blockText */
    left: 0; /* Выравниваем по левому краю */
    width: 100%;
    padding: 0px;
    overflow:   scroll;
    display: flex;
    flex-direction: column-reverse;
    height: 637px;
  }
  .messageAll::-webkit-scrollbar {
    width: 5px;
  }
  .messageAll::-webkit-scrollbar-thumb {
    background-color: #7da1fd;
  }
  .messageAll::-webkit-scrollbar-track {
    background-color: #f8f8f8;
  }.blockMessage{
    width: 1000px;
    height: 100%;
  }
  .blockSearch{
    position: relative;
    height: 82px;
    width: 370px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #7DA1FD;
    display: flex;
    justify-content: center;
    align-items: center;
}