.main3 {
    text-align: center;
    width: 280px;
    height: 100%;
    padding: 10px;
    background-color: white;
}

.h3Foto {
    margin: 0px;
}

.friends {
    padding: 5px;
    height: 40px;
    transition: 0.7s;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
}

.friends:hover {
    background-color: #1E1E1E;
    transition: 0.7s;
}
.friends:hover > .friendsName{
    transition: 0.7s;
    color: white;
}

.test {
    float: left;
    width: 40px;
    border-radius: 5px;
}

.friendsName {
    padding: 10px 0px 0px 10px;
    color: black;
    font-weight: 500;
    font-size: 18px;
    float: left;
}

.ellipse {
    position: absolute;
    top: 20px;
    right: 15px;
}